<section id="team" class="section team-area ptb_100" style="background-image: url('./assets/2/site/advantage-bg.png');background-color: #272727;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize" style="color: #E54B4B;">Mintaqaviy ofislar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Team Slider -->
            <div class="team-slider owl-carousel">
                <!-- Single Team -->
                <div class="single-team px-3 py-2 m-2" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <!-- Team Photo -->
                    <div class="float-left">
                        <div class="">
                            <img src="./assets/2/site/russia.svg" style="width: 30px;float: left;" alt=""> <span class="text-uppercase ml-2" style="vertical-align: sub;">Ofis akfa</span>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content mt-2 mb-1">
                            <h1 class="m-3 text-white">Rossiya</h1>
                            <h1 class="m-3 text-white">Moskva</h1>
                            <button mat-icon-button style="background-color: red;"><mat-icon style="color: #fff;">play_circle</mat-icon></button>
                            <!-- Team Media -->
                        </div>
                    </div>
                    <div class="float-right">
                        <img src="./assets/2/site/office.svg" style="width: 140px;opacity: 0.05;" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Single Team -->
                <div class="single-team px-3 py-2 m-2" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <!-- Team Photo -->
                    <div class="float-left">
                        <div class="">
                            <img src="./assets/2/site/kazakhstan.svg" style="width: 30px;float: left;" alt=""> <span class="text-uppercase ml-2" style="vertical-align: sub;">Ofis akfa</span>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content mt-2 mb-1">
                            <h1 class="m-3 text-white">Qozog'iston</h1>
                            <h1 class="m-3 text-white">Almata</h1>
                            <button mat-icon-button style="background-color: red;"><mat-icon style="color: #fff;">play_circle</mat-icon></button>
                            <!-- Team Media -->
                        </div>
                    </div>
                    <div class="float-right">
                        <img src="./assets/2/site/office2.svg" style="width: 140px;opacity: 0.05;" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Single Team -->
                <div class="single-team px-3 py-2 m-2" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <!-- Team Photo -->
                    <div class="float-left">
                        <div class="">
                            <img src="./assets/2/site/kyrgyzstan.svg" style="width: 30px;float: left;" alt=""> <span class="text-uppercase ml-2" style="vertical-align: sub;">Ofis akfa</span>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content mt-2 mb-1">
                            <h1 class="m-3 text-white">Qirg'izistion</h1>
                            <h1 class="m-3 text-white">Bishkek</h1>
                            <button mat-icon-button style="background-color: red;"><mat-icon style="color: #fff;">play_circle</mat-icon></button>
                            <!-- Team Media -->
                        </div>
                    </div>
                    <div class="float-right">
                        <img src="./assets/2/site/office3.svg" style="width: 140px;opacity: 0.05;" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Single Team -->
                <div class="single-team px-3 py-2 m-2" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <!-- Team Photo -->
                    <div class="float-left">
                        <div class="">
                            <img src="./assets/2/site/tajikistan.svg" style="width: 30px;float: left;" alt=""> <span class="text-uppercase ml-2" style="vertical-align: sub;">Ofis akfa</span>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content mt-2 mb-1">
                            <h1 class="m-3 text-white">Tojikistan</h1>
                            <h1 class="m-3 text-white">Dushanbe</h1>
                            <button mat-icon-button style="background-color: red;"><mat-icon style="color: #fff;">play_circle</mat-icon></button>
                            <!-- Team Media -->
                        </div>
                    </div>
                    <div class="float-right">
                        <img src="./assets/2/site/office4.svg" style="width: 140px;opacity: 0.05;" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Single Team -->
                <div class="single-team px-3 py-2 m-2" style="background-color: #313131;border: 1px solid #3e3e3e;">
                    <!-- Team Photo -->
                    <div class="float-left">
                        <div class="">
                            <img src="./assets/2/site/lithuania.svg" style="width: 30px;float: left;" alt=""> <span class="text-uppercase ml-2" style="vertical-align: sub;">Ofis akfa</span>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content mt-2 mb-1">
                            <h1 class="m-3 text-white">Litva</h1>
                            <h1 class="m-3 text-white">Vilnus</h1>
                            <button mat-icon-button style="background-color: red;"><mat-icon style="color: #fff;">play_circle</mat-icon></button>
                            <!-- Team Media -->
                        </div>
                    </div>
                    <div class="float-right">
                        <img src="./assets/2/site/office.svg" style="width: 140px;opacity: 0.05;" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
