<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <section id="blog" class="section blog-area ptb_100" style="position: relative;overflow: hidden;height: 500px;">
            <video autoplay [muted]="true" style="position: absolute;width: 100vw;top: 0;z-index: -1;" loop id="myVideo">
                <source src="./assets/2/site/directions_mov.mp4" type="video/mp4">
            </video>
            <h1 class="text-uppercase text-center" style="font-size: 80px;color: #E44B4B;height: 80px;margin-top: 100px;">Portfolio</h1>
        </section>
        <div class="container my-4">
            <div class="row">
                <div class="col-6">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Blog Title -->
                            <h3 style="color: #E44B4B" class="text-right text-uppercase">Eksteryer</h3>
                            <h1 class="blog-title my-3 text-right" style="font-weight: 800;font-size: 35px;">AgroBank</h1>
                            <p class="text-right">
                                Toshkent shahrining Shayxontohur tumanida <br>
                                joylashgan AgroBankning yangi binosini qoplash <br>
                                va tayyor holga keltirish.
                            </p>
                            <button class="text-uppercase" mat-icon-button style="background-color: #E44B4B">
                                <mat-icon style="color: #fff;padding-left: 8px;">play_circle</mat-icon>
                                <span class="ml-4">Batafsil ma'lumot</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <img src="./assets/2/site/agro_sm.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-6">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <img src="./assets/2/site/nestone_sm.jpg" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Blog Title -->
                            <h3 style="color: #E44B4B" class="text-right text-uppercase">Eksteryer</h3>
                            <h1 class="blog-title my-3 text-right" style="font-weight: 800;font-size: 35px;">NestOne</h1>
                            <p class="text-right">
                                Toshkent shahrining Shayxontohur tumanida <br>
                                joylashgan NestOne ning yangi binosini qoplash <br>
                                va tayyor holga keltirish.
                            </p>
                            <button class="text-uppercase" mat-icon-button style="background-color: #E44B4B">
                                <mat-icon style="color: #fff;padding-left: 8px;">play_circle</mat-icon>
                                <span class="ml-4">Batafsil ma'lumot</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-6">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Blog Title -->
                            <h3 style="color: #E44B4B" class="text-right text-uppercase">Eksteryer</h3>
                            <h1 class="blog-title my-3 text-right" style="font-weight: 800;font-size: 35px;">Hilton Tashkent City mehmonxonasi</h1>
                            <p class="text-right">
                                Hilton Tashkent mehmonxonasining zamonaviy <br>
                                dizayni fasad tizimidan foydalanish orqali <br>
                                ta'minlanadi.
                            </p>
                            <button class="text-uppercase" mat-icon-button style="background-color: #E44B4B">
                                <mat-icon style="color: #fff;padding-left: 8px;">play_circle</mat-icon>
                                <span class="ml-4">Batafsil ma'lumot</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <img src="./assets/2/site/works3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
