<section id="benifits" class="section benifits-area ptb_100" style="background-color: #2F2F2F">
    <div class="container">
        <h3 class="my-4 text-white">
            KOMPANIYA HAQIDA
        </h3>
        <h1 class="my-2 text-white">Biz 2000 yildan beri yuqori sifatli xizmat ko'rsatamiz</h1>
        <p class="text-white">Yillar davomida AKFA o'zini ishonchli va mas'uliyatli ishlab chiqaruvchi sifatida namoyon etib, uning mahsulotlariga ishonch hosil qilishingiz mumkinligini ko’rsatdi. Bugungi kunda korxona Markaziy Osiyodagi eng yirik avtomatlashtirilgan ishlab chiqarish zavodlaridan biriga ega
        </p>
        <div class="row align-items-center my-4">
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item" style="padding: 5px; background-color: #313131">
                    <div class="feature-icon">
                        <img style="width: 25%;display:block;margin: 10px auto;" src="../../../../assets/2/site/statistics.svg" alt="">
                    </div>
                    <h2 style="color: #E44B4B;font-size: 45px;text-align: center;">300</h2>
                    <!-- Benifits Text -->
                    <div class="benifits-text text-center" style="height: 70px;">
                        <p>Ming kv.m. maydon</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item" style="padding: 5px; background-color: #313131">
                    <div class="feature-icon">
                        <img style="width: 25%;display:block;margin: 10px auto;" src="../../../../assets/2/site/statistics2.svg" alt="">
                    </div>
                    <h2 style="color: #E44B4B;font-size: 45px;text-align: center;">21</h2>
                    <!-- Benifits Text -->
                    <div class="benifits-text text-center" style="height: 70px;">
                        <p>Eksport mamlakatlari</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item" style="padding: 5px; background-color: #313131">
                    <div class="feature-icon">
                        <img style="width: 25%;display:block;margin: 10px auto;" src="../../../../assets/2/site/statistics3.svg" alt="">
                    </div>
                    <h2 style="color: #E44B4B;font-size: 45px;text-align: center;">21</h2>
                    <!-- Benifits Text -->
                    <div class="benifits-text text-center" style="height: 70px;">
                        <p>Yil bozorda</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item" style="padding: 5px; background-color: #313131">
                    <div class="feature-icon">
                        <img style="width: 25%;display:block;margin: 10px auto;" src="../../../../assets/2/site/statistics4.svg" alt="">
                    </div>
                    <h2 style="color: #E44B4B;font-size: 45px;text-align: center;">20</h2>
                    <!-- Benifits Text -->
                    <div class="benifits-text text-center" style="height: 70px;">
                        <p>Zavodlar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
