<div class="blog">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-one></app-header-one>
        <section id="blog" class="section blog-area ptb_100" style="position: relative;overflow: hidden;height: 500px;">
            <video autoplay [muted]="true" style="position: absolute;width: 100vw;top: 0;z-index: -1;" loop id="myVideo">
                <source src="./assets/2/site/mov8.mp4" type="video/mp4">
            </video>
            <h1 class="text-uppercase text-center" style="font-size: 80px;color: #E44B4B;height: 80px;margin-top: 100px;">Yangiliklar</h1>
        </section>
        <div class="container my-3">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="#"><img src="../../../../assets/2/site/news-sm34.png" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between">
                                <li><a href="#"><span class="text-uppercase" style="color: red">Akfa Group / </span>31 DEKABR, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <h3 class="blog-title my-3"><a href="#">2021 yil yakunlari</a></h3>
                            <a href="#" class="blog-btn mt-3">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="#"><img src="../../../../assets/2/site/news-sm32.jpg" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between">
                                <li><a href="#"><span class="text-uppercase" style="color: red">Akfa Group / </span>07 DEKABR, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <h3 class="blog-title my-3"><a href="#">Nukus shahrida "Imzo" kompaniyasi tomonidan ishlab chiqarish bazasi ishga tushiriladi</a></h3>
                            <a href="#" class="blog-btn mt-3">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="#"><img src="../../../../assets/2/site/news-sm31.jpg" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between">
                                <li><a href="#"><span class="text-uppercase" style="color: red">Akfa Group / </span>17 NOYABR, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <h3 class="blog-title my-3"><a href="#">"Yirik kompaniyada ishlashda bozorlarni qanday egallash lozim" -Akfa Group o'z tajribasini talabalar bilan o'rtoqlashadi</a></h3>
                            <a href="#" class="blog-btn mt-3">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="#"><img src="../../../../assets/2/site/news-sm30.jpg" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between">
                                <li><a href="#"><span class="text-uppercase" style="color: red">Akfa Group / </span>01 NOYABR, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <h3 class="blog-title my-3"><a href="#"></a></h3>
                            <a href="#" class="blog-btn mt-3">"AKFA Group "Xayrli ishlar" nominatsiyasi bo'yicha EMBRAS'21 mukofotini qo'lga kiritdi</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="#"><img src="../../../../assets/2/site/news-sm29.jpg" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between">
                                <li><a href="#"><span class="text-uppercase" style="color: red">Akfa Group / </span>22 SENTYABR, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <h3 class="blog-title my-3"><a href="#">AKFA Group UzBuild-2021 Xalqaro ko'rgazmasida ishtirok etmoqda</a></h3>
                            <a href="#" class="blog-btn mt-3">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog -->
                    <div class="single-blog res-margin">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="#"><img src="../../../../assets/2/site/news-sm27.jpg" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content p-4">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between">
                                <li><a href="#"><span class="text-uppercase" style="color: red">Akfa Group / </span>31 AVGUST, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <h3 class="blog-title my-3"><a href="#">AKFA Group ACCA akkreditatsiyasiga ega bo'ldi</a></h3>
                            <a href="#" class="blog-btn mt-3">Batafsil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
