<div class="blog">
    <app-scrollup></app-scrollup>
    <app-header-one></app-header-one>
    <div class="all-area">
        <section id="blog" class="section blog-area ptb_100" style="position: relative; overflow: hidden; height: 500px;">
            <video autoplay [muted]="true" style="position: absolute;width: 100vw;top: 0;z-index: -1;" loop id="myVideo">
                <source src="./assets/2/site/about-mov.mp4" type="video/mp4">
            </video>
            <h1 class="text-uppercase text-center" style="font-size: 80px;color: #E44B4B;height: 80px;margin-top: 100px;">Kompaniya haqida</h1>
        </section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-6" style="text-align: right;">
                    <img src="./assets/2/site/about.jpg" style="width: 60%;" alt="">
                </div>
                <div class="col-6">
                    <h1>Biz 2000 yildan beri yuqori sifatli xizmat ko'rsatamiz</h1>
                    <p>
                        Yillar davomida AKFA o'zini ishonchli va mas'uliyatli ishlab chiqaruvchi sifatida namoyon etib, uning mahsulotlariga ishonch hosil qilishingiz mumkinligini ko’rsatdi. Bugungi kunda korxona Markaziy Osiyodagi eng yirik avtomatlashtirilgan ishlab chiqarish zavodlaridan biriga ega
                    </p>
                </div>
            </div>
        </div>
        <div class="my-3">
            <app-promo-one></app-promo-one>
        </div>
        <div class="container mt-3">
            <h1 class="text-uppercase" style="color: #E44B4B;">Maqsad va missiya</h1>
            <div class="row">
                <div class="col-6" style="text-align: right;">
                    <img src="./assets/2/site/missions1.jpg" style="" alt="">
                </div>
                <div class="col-6">
                    <h1 style="font-size: 50px;">Missiya</h1>
                    <p>
                        Hayot tarzini yaxshilash, unga qulaylik va afzallikni olib keluvchi yangi standart va yo‘nalishlarni yaratish. Mamlakat sanoatini rivojlantirish hamda o‘z maqsadlarimizga erishish va zimmamizdagi burchni ado etish yo‘lidagi bosilgan har bir taraqqiyot qadamlari uchun mas’ul bo‘lish. Biznesni yuritish va o‘zaro hamkorlik olib borishning an’anaviy uslublarini o‘zgartirish va ishga yangicha yondashishni tatbiq etish. Mijozlarimiz e’tiborini qozonish, xodimlarimiz va hamkorlarimiz manfaatlarini himoya qilish va jamiyat taraqqiyoti yo‘lida kompaniya samaradorligini doimo oshirib borish.
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-6">
                    <h1 style="font-size: 50px;">Tassavurimiz</h1>
                    <p>
                        2025 yilga qadar, 20 mamlakatda faol mijozlar bazasiga ega bo’lgan geografik jihatdan diversifikatsiyalangan konglomerat bo’lish. O’z mijozlari, aktsiyadorlari va hamkorlariga qo‘shimcha qiymat qo’shadigan O’zbekistonning sanoatlashtirish ramzi bo’lish.
                    </p>
                </div>
                <div class="col-6" style="">
                    <img src="./assets/2/site/missions2.jpg" style="" alt="">
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-6" style="">
                    <img src="./assets/2/site/missions3.jpg" style="" alt="">
                </div>
                <div class="col-6">
                    <h1 style="font-size: 50px;">Bizning qadriyatlarimiz</h1>
                    <p>
                        Mijozlarga e’tibor. Ishlab chiqarishdagi texnologiyalar va innovatsiyalar qanchalar zamonaviy va ilg‘or bo‘lmasin biz ushbu texnologik yangiliklarni avvalambor mijzolarimiz talablaridan kelib chiqqan holda, ularga qulaylik yaratish niyatida tatbiq qilamiz.
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <h1 class="text-center mb-3">Kompaniyaning missiyasi</h1>
            <div class="row">
                <div class="col-12 text-center">
                    <video style="width: 80%;" controls poster preload="none">
                        <source src="./assets/2/site/mission.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
