<section class="section download-area-imzo ptb_100">
    <!-- Shapes Container -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 col-lg-5">
                <!-- Download Text -->
                <div class="mat-elevation-z4 bg-white p-4">
                    <div class="my-2">
                        <h2>Konsultantni uyga chaqirish</h2>
                    </div>
                    <p>Rom almashtirish uchu nimadan boshlashni bilmayapsizmi? Buyurtma bering va bizning menejerimiz siz bilan qulay vaqtda bog’lanadi!</p>
                    <mat-form-field class="w-100">
                        <mat-label>Ismingiz</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Telefon raqamingiz</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Tuman</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Bepul o'lchovga buyurtma berish</mat-label>
                        <mat-select>
                            <mat-option>Murojaat qilishdan maqsad</mat-option>
                            <mat-option>Bepul o'lchovga buyurtma berish</mat-option>
                            <mat-option>Mutaxassis maslahati kerak</mat-option>
                            <mat-option>Boshqa</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button style="background-color: #F50051;color: #fff;" class="text-uppercase w-100">Qo'ng'iroqqa buyurtma berish</button>
                    <p style="font-size: 11px; margin-top: 5px;">YOKI YAGONA CALL- MARKAZIMIZGA MUROJAAT QILING: 71 207 77 77</p>
                </div>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</section>
